<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="#home">Início</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#products">Produtos</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">Contato</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">{{ site.copyright }}</p>
            </div>
						<div class="col-md-4">
							<img src="img/logo-ug.png" alt="" style="width: 180px"> <img src="img/logo-atodogas.png" alt="" style="width: 90px">
            </div>
        </div>
    </div>
</footer>
